:root {
	--b-0: #EDE6DB;
	--b-1: #417D7A;
	--b-2: #1D5C63;
	--b-3: #1A3C40;
}

* {
	margin: 0px;
	padding: 0px;
	-webkit-user-select: none;
}

#app {
	max-height: 100vh;
	height: 100vh;
	text-align: center;
	
	background: var(--b-3);
	
	display: grid;
	grid-template-areas:
		"path path"
		"navbar tab";

	grid-template-rows: min-content 1fr;
	grid-template-columns: min-content auto;
}

.tab:not(.select) {
	grid-area: tab;
	display: none;
	visibility: hidden;
}

.tab {
	grid-area: tab;
	overflow-y: scroll; 
}

 /* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--b-2);
 	opacity: 0.1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--b-1);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--b-2);
} 

#path {
	padding: 10px;
	background: var(--b-2);
	color: var(--b-0);
	grid-area: path;
}

#navbar {
	background: var(--b-2);
	color: var(--b-0);
	grid-area: navbar;
	display: gird;
}

#navbar li {
	cursor: pointer; 	
	padding: 10px;	
	align-self: stretch;
	justify-self: stretch;
}

#navbar li:hover {
	background: var(--b-3);
}

/* Imgs */
#imgs {

}

/* Dirs List */

ol#dirs {
	list-style-type: none;
	color: var(--b-0);
}

#dirs > li {
	padding: 10px;
	background: var(--b-1);
	opacity: 0.5;
}

#dirs > li::before {
	content: " ";
	font-family: "Font Awesome 6 Free";
	font-weight: 400; 
}

#dirs > li.dir {
	cursor: pointer;
	opacity: 1;
}

#dirs > li.dir:hover {
	background: var(--b-3);
}

#dirs > li.dir::before {
	content: " ";
	font-family: "Font Awesome 6 Free";
	font-weight: 400; 
}

#dirs > li.img {
	cursor: pointer;
	opacity: 1;
	text-stroke: 1px var(--b-0);
	-webkit-text-stroke: 1px var(--b-0);
	color: var(--b-0);
}

#dirs > li.img::before {
	content: " ";
	font-family: "Font Awesome 6 Free";
	font-weight: 400; 
}


